<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Forum System | Admin</title>
    <link rel="icon" href="../static/favicon.jpg" th:href="@{/favicon.jpg}">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<header>
    <div>
        <img src="../static/logo.png" th:src="@{/logo.png}" alt="Forum System logo"/>
        <nav>

            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
            <span>|</span>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.posts}">Posts</a>
            <span>|</span>
            <a href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
            <span>|</span>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
            <span>|</span>
            <a th:href="@{/admin/login}">Admin</a>
            <span>|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>

        </nav>
    </div>
</header>

<form class="filer-form" action="#" th:action="@{${requestURI}}" th:object="${filterDto}" method="get">
    <div class="filter-container">
        <label class="filter-user-label">Filter by:</label>
        <input class="filter-user-input" type="text" placeholder="Post Title" th:field="*{title}">

        <label class="filter-user-label">Sort By:</label>
        <select class="filter-user-select" th:field="*{sortBy}">
            <option value="">Sort by</option>
            <option value="title">By title</option>
        </select>

        <label class="filter-user-label">Sort Order:</label>
        <select class="filter-user-select" th:field="*{sortOrder}">
            <option value="">Ascending</option>
            <option value="desc">Descending</option>

        </select>

        <input class="filter-button" type="submit" value="Filter">
    </div>
</form>


<div class="posts-container">

    <div class="post" th:each="post : ${posts}">
        <h2 th:text="${post.title}"></h2>
        <th:block>
            <a th:href="@{/posts/{id}(id=${post.getId()})}" class="view-post-btn">View Post</a>
        </th:block>
    </div>
</div>

<form class="filter-form" action="#" th:action="@{${requestURI}}" th:object="${filterUserDto}" method="get">
    <div class="filter-user-container">
        <label class="filter-user-label">Filter by:</label>
        <input class="filter-user-input" type="text" placeholder="First Name" th:field="*{firstName}">
        <input class="filter-user-input" type="text" placeholder="Username" th:field="*{username}">
        <input class="filter-user-input" type="text" placeholder="Email" th:field="*{email}">

        <label class="filter-user-label">Sort By:</label>
        <select class="filter-user-select" th:field="*{sortBy}">
            <option value="">Sort by</option>
            <option value="firstName">By first name</option>
            <option value="username">By username</option>
            <option value="email">By email</option>
        </select>

        <label class="filter-user-label">Sort Order:</label>
        <select class="filter-user-select" th:field="*{sortOrder}">
            <option value="">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <input class="filter-user-button" type="submit" value="Search">
    </div>
</form>

<div class="table-user">

    <div class="header-user">

        <div class="cell-user" th:text="#{user.label.username}"> Username </div>
        <div class="cell-user" th:text="#{user.label.firstName}"> First name </div>
        <div class="cell-user" th:text="#{user.label.lastName}"> Last name </div>
        <div class="cell-user" th:text="#{user.label.email}"> Email </div>

    </div>

    <div class="row-user" th:each="user : ${users}">

        <div class="cell-user" th:text="${user.username}"> User </div>
        <div class="cell-user" th:text="${user.firstName}"> Test </div>
        <div class="cell-user" th:text="${user.lastName}"> Test </div>
        <div class="cell-user" th:text="${user.email}"> Email </div>

        <form th:if="${!user.isBlocked()}" method="post" th:action="@{/admin/users/{id}/block(id=${user.id})}">
            <button type="submit" class="block-user-btn">Block</button>
        </form>

        <form th:if="${user.isBlocked()}" method="post" th:action="@{/admin/users/{id}/unblock(id=${user.id})}">
            <button type="submit" class="unblock-user-btn">Unblock</button>
        </form>

        <form th:if="${!user.isAdmin()}" method="post" th:action="@{/admin/users/{id}/make-admin(id=${user.id})}">
            <button type="submit" class="make-admin-btn">Make Admin</button>
        </form>

        <form th:if="${user.isAdmin()}" method="post" th:action="@{/admin/users/{id}/remove-admin(id=${user.id})}">
            <button type="submit" class="remove-admin-btn">Remove Admin</button>
        </form>

    </div>

</div>

<footer>
    <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' ForumSystem'}">Copyright 2025 ForumSystem</small>
</footer>

</body>
</html>