<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum System | Home</title>
    <link rel="icon" href="../static/favicon.PNG" th:href="@{/favicon.PNG}">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
</head>


<body>

<header>
    <div>
        <img src="../static/logo.PNG" th:src="@{/logo.png}" alt="Forum System logo"/>
        <nav>

            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
            <span>|</span>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
            <span>|</span>

        </nav>
    </div>
</header>



<footer>
    <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
</footer>

</body>
</html>