<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Forum System | All Posts</title>
    <link rel="icon" href="../static/favicon.jpg" th:href="@{/favicon.jpg}">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<header>
    <div>
        <img src="../static/logo.png" th:src="@{/logo.png}" alt="Forum System logo"/>
        <nav>

            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
            <span>|</span>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.posts}">Posts</a>
            <span>|</span>
            <a href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
            <span>|</span>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
            <span>|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>

        </nav>
    </div>
</header>

<form th:if="${isAuthenticated}" class="filer-form" action="#" th:action="@{${requestURI}}" th:object="${filterDto}" method="get">
    <div class="filter-container">
        <label class="filter-label">Filter by:</label>
        <input class="filter-input" type="text" placeholder="Post Title" th:field="*{title}">

        <label class="filter-label">Sort By:</label>
        <select class="filter-select" th:field="*{sortBy}">
            <option value="">Sort by</option>
            <option value="title">By title</option>
        </select>

        <label class="filter-label">Sort Order:</label>
        <select class="filter-select" th:field="*{sortOrder}">
            <option value="">Ascending</option>
            <option value="desc">Descending</option>

        </select>

        <input class="filter-button" type="submit" value="Filter">
    </div>
</form>


<div class="posts-container">

    <div th:if="${isAuthenticated}" style="text-align: center">
        <a href="/posts/create" class="btn">Create a Post</a>
    </div>

    <div class="post" th:each="post : ${posts}">
        <h2 th:text="${post.title}"></h2>
        <th:block th:if="${isAuthenticated}">
            <a th:href="@{/posts/{id}(id=${post.getId()})}" class="view-post-btn">View Post</a>
        </th:block>
    </div>
</div>

<footer>
    <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
</footer>

</body>
</html>