<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Forum System | Update Comment</title>
    <link rel="icon" href="../static/favicon.jpg" th:href="@{/favicon.jpg}">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>

</head>


<body>

<header>
    <div>
        <img src="../static/logo.png" th:src="@{/logo.png}" alt="Forum System logo"/>
        <nav>

            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
            <span>|</span>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.posts}">Posts</a>
            <span>|</span>
            <a href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
            <span>|</span>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
            <span>|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>

        </nav>
    </div>
</header>

<div class="container-create">
    <h1 class="h1-create">Edit Comment</h1>
    <form class="form-create"
          th:action="@{/posts/{postId}/comment/update/{commentId}(postId=${post.getId()}, commentId=${comment.getCommentId()})}"
          th:object="${comment}"
          method="post">

        <label class="label-create" for="content">Content:</label>
        <textarea class="textarea-create" id="content" th:field="*{content}" required></textarea>

        <div>
            <button type="submit" class="btn-update-comment">Update Comment</button>
            <a href="#" class="btn-danger-comment" th:href="@{/posts/{postId}/comment/delete/{commentId}(postId=${post.getId()}, commentId=${comment.getCommentId()})}">Delete Comment</a>
        </div>

    </form>
</div>

<footer>
    <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
</footer>

</body>
</html>