<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Forum System | Users</title>
    <link rel="icon" href="../static/favicon.jpg" th:href="@{/favicon.jpg}">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<header>
    <div>
        <img src="../static/logo.png" th:src="@{/logo.png}" alt="Forum System logo"/>
        <nav>

            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
            <span>|</span>
            <a href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
            <span>|</span>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
            <span>|</span>
            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">Login</a>
            <span th:unless="${isAuthenticated}">|</span>
            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>

        </nav>
    </div>
</header>

<div th:if="${users.isEmpty()}">
    <h2 class="AllNoUsersText" th:text="#{users.title.empty}">No Users To Show </h2>
</div>

<div th:unless="${users.isEmpty()}">

    <h2 class="AllNoUsersText" th:text="#{users.title}">All Users </h2>

    <div class="table">

        <div class="header">

            <div class="cell" th:text="#{user.label.username}"> Username </div>
            <div class="cell" th:text="#{user.label.password}"> Password </div>
            <div class="cell" th:text="#{user.label.firstName}"> First name </div>
            <div class="cell" th:text="#{user.label.lastName}"> Last name </div>
            <div class="cell" th:text="#{user.label.email}"> Email </div>

        </div>

        <div class="row" th:each="user : ${users}">

            <div class="cell">
                <a href="#" th:href="@{/users/{id}(id = ${user.getId()})}" th:text="${user.username}">User</a>
            </div>

            <div class="cell" th:text="${user.password}"> 123456 </div>
            <div class="cell" th:text="${user.firstName}"> Test </div>
            <div class="cell" th:text="${user.lastName}"> Test </div>
            <div class="cell" th:text="${user.email}"> Email </div>

        </div>

    </div>
</div>

<footer>
    <small th:text="${'©️ Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">Copyright 2025 BeerTag</small>
</footer>

</body>
</html>